<!-- Hero Section -->
<section class="about-hero text-center text-white d-flex align-items-center">
  <div class="container">
    <h1 class="display-4 fw-bold">Welcome to MyStore!</h1>
    <p class="lead">Your trusted online shopping destination.</p>
  </div>
</section>

<!-- Our Story -->
<section class="container py-5">
  <div class="card shadow-lg border-0 rounded-4 p-4">
    <h3 class="fw-bold mb-3 text-center">Our Story</h3>
    <p class=" text-center">
      MyStore started with a simple mission  to make quality products
      affordable and accessible to everyone.
    </p>
    <p class="text-muted text-center">
      Founded in 2026, we believe in trust, transparency, and customer happiness.
    </p>
  </div>
</section>

<!-- Mission & Vision -->
<section class="container py-4">
  <div class="row g-4">
    <div class="col-md-6">
      <div class="card shadow border-0 rounded-4 h-100 p-4 text-center">
        <h4 class="fw-bold">Our Mission</h4>
        <p class="text-center">
          To deliver high-quality products at affordable prices with excellent
          customer service.
        </p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card shadow border-0 rounded-4 h-100 p-4 text-center">
        <h4 class="fw-bold">Our Vision</h4>
        <p class="text-center">
          To become India’s most trusted online marketplace.
        </p>
      </div>
    </div>
  </div>
</section>
