.custom-navbar {
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
  padding: 15px 0;
}

.nav-link {
  font-weight: 500;
  margin: 0 10px;
  transition: 0.3s;
}

.nav-link:hover {
  color: #C8A97E !important;
}
