.custom-navbar {
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
  padding: 15px 0;
}

.nav-link {
  font-weight: 500;
  margin: 0 10px;
  transition: 0.3s;
}

.nav-link:hover {
  color: #C8A97E !important;
}

.glass-navbar {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
  padding: 15px 0;
}
