.product-card {
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s ease;
  background: #ffffff;
  padding: 15px;

}

.product-card:hover {
  transform: translateY(-8px);
  transition: 0.3s;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

 
.product-img-wrapper {
  position: relative;
  overflow: hidden;
}

.product-img {
  height: 220px;
  object-fit: cover;
  transition: 0.4s ease;
}

.product-card:hover .product-img {
  transform: scale(1.08);
}

/* Title */
.product-title {
  font-weight: 600;
  min-height: 45px;
  font-size: 14px;
}

/* Price */
.product-price {
  font-size: 16px;
  font-weight: bold;
  color: #111;
}

 .btn{
 
  color: darkblue;
  border-radius: 2px;
  padding: 8px 16px;
 }