<div class="row g-4">

  @for (product of products; track product.id) {

    <div class="col-lg-3 col-md-4 col-6">

      <div class="card product-card h-100 border-0">

        <!-- Image Wrapper -->
       <div class="product-img-wrapper">

   <!-- product-list.component.html:21 -->
    <img src=" ";  >
    

     

  @if (product.images?.length > 1) {
    <img 
      [src]="product.images[1]"
      (error)="onImgError($event)"
      class="product-img hover-img"
        alt="Hover Image"
    />
  }

</div>


        <!-- Body -->
        <div class="card-body text-center">
          <h6 class="product-title">
            {{ product.title }}
          </h6>
          <p class="product-price">
             {{ Price |currency : 'INR'}}
          </p>
        </div>

        <!-- Buttons -->
        <div class="card-footer bg-transparent border-0 text-center">

          <button
            class="btn btn-outline-dark btn-sm rounded-pill px-4 mb-2 w-100"
            (click)="addToCart(product)">
            Add to Cart
          </button>

          <a
            class="btn btn btn-info btn-sm rounded-pill w-100"
            [routerLink]="['/products', product.id]">
            View Details
          </a>

        </div>

      </div>

    </div>

  }

</div>
