 html, body {
  height: 100%;
  margin: 0;
  
 scroll-behavior: smooth;

}


button {
  transition: 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

 
