 .hero-section {
  position: relative;
  min-height: 80vh;
  background-image: url('/home-bg.png'); /* FIXED */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: end;
    padding-right: 80px;

 }


.hero-section {
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
              url('/home-bg.png') center/cover no-repeat;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.hero-content {
  position: relative;
  color: white;
  max-width: 500px;
  text-align: right;

}

.display
{
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.lead
{
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 900;
   transform: translateX(-100px);
}
 

  .btn {
  transform: translateX(-130px);
  }



